
.loginErrorAlert {
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.loginText {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Muli', sans-serif;
}

.switchText {
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Muli', sans-serif;
}

.continue {
    font-size: 13px;
    margin-right: -60px;
    margin-left: -60px;
    margin-top: 6px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    color: #767676;
}

.btn-login {
    margin-bottom: 10px;
    width: 100%;
    height: 44px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}

.btn-login {
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
  }

.btn-login:hover {
color: white;
}

.changeAuthMode {
    margin-left: -7px;
    margin-bottom: 3px;
    font-family: 'Muli', sans-serif;
}


.facebookLogin {
    border-radius: 5px;
    background-color: #4568b2;
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 12px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
}

.signUpSuccessAlert {
    font-size: 15px;
}

.authContainer {
    min-height: 100vh;
    background: rgb(111,138,183);
    background: linear-gradient(164deg, rgba(111,138,183,1) 0%, rgba(201,216,254,1) 100%);
}

#logo:hover {
    text-decoration: none;
}

#blue-logo {
    color: #5282FF;
    display: inline;
    font-weight: bold;
    font-size: 45px;
  }
  
#basket-logo {
    color: #9eb9ff;
    display: inline;
    font-weight: bold;
    font-size: 45px;
}