#splash {
  float: right;
  margin-top: -26vw;
  margin-right: 8vw;
  height: 200px;
  width: 40%;
}

#title {
  float: left;
  margin-top: 20vh;
  margin-left: 8vw;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 4vw;
}

svg {
  pointer-events: none;
}

#page1 {
  width: 100%;
  height: 100%;
}



#caption {
  float: left;
  margin-left: 8vw;
  width: 30vw;
  text-align: left;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
}

#page2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
}

#container {
  margin-top: 18vh;
  margin-bottom: 0;
}

#header {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2vw;
    margin-bottom: 5vh;
    color: #8A8A8A;
}

#image {
  margin-bottom: 5vh;
}

.underline-text {
  display: inline;
  color: #89BBFE;
}

.btn-meals {
  height: 3rem;
  font-family: 'Muli', sans-serif;
}

.col-text{
  width: 21vw;
  text-align: center;
  font-size: 1.2vw;
  margin: auto;
  font-family: 'Muli', sans-serif;
  color: black;
}


.role-header{
  font-size: 1.2vw;
  font-weight: 700;
  font-family: 'Muli', sans-serif;
}

.col-header{
  font-weight: bold;
  color: #615D6C;
  font-size: 3vh;
}

#role-one {
  margin-bottom: 20px;
}

#hr {
  border: .3vh solid #f2f2f2;
  border-radius: .4vh;
}

#col1-hr {
  border: .4vh solid #5282FF;
  width: 6vw;
  border-radius: .4vh;
}


#col2-hr {
  border: .4vh solid #89BBFE;
  width: 6vw;
  border-radius: .4vh;
}

#col3-hr {
  border: .4vh solid #5282FF;
  width: 6vw;
  border-radius: .4vh;
}
