#title-available {
  margin-left: 2.5vw;
  margin-top: 5vh;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2vw;
}

#subtitle-name {
  margin-left: 2.5vw;
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  margin-top: 5vh;
}

#subtitle-restaurant {
    margin-left: 2.5vw;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    margin-top: 5vh;
}

#subtitle-listing {
    margin-left: 2.5vw;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: 5vh;
    color: #AFAFAF;
}

#subtitle-description{
  font-family: 'Muli', sans-serif;
  color: #AFAFAF;
  margin-left: 2.5vw;
  font-size: 1.3vw;
}


.listing-card :hover {
    transition: 0.5s;
    background: whitesmoke;
}

.listing-name {
    font-family: 'Muli' sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.listing-type {
    color: cornflowerblue;
    margin-top: -0.75rem;
    font-family: 'Nunito';
    font-size: 0.9rem;
}

.listing-description {
    font-size: 1rem;
}

.listing-quantity {
    color: gray;
    font-family: 'Nunito';
    font-size: 0.9rem;
}

.allergens {
    color: gray;
    font-family: 'Nunito';
    font-size: 0.9rem;
}

.price {
    margin-top: 0.3rem;
    font-family: 'Nunito';
    font-size: 1rem;
}
